*{
   
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT';
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: centre;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: centre;
    
}
#nav h2{
    font-size:16px;
    border:1.5px solid #000;
    font-weight: 700;
    padding:5px 10px;
    border-radius: 50px;
}
#nav h3{
    font-size:30px;
   
    font-weight: 800;
    padding:5px 10px;
    border-radius: 50px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius:50px;
    border: 1.5px solid #000;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    color: white;
    background-color: rgb(231, 119, 21);

}
#main>h1{
    font-size: 170px;
    /* color: red; */
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius:10% ;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-25deg);
    
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
    
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
    
}
#img4{
    transform: translate(-50%,-50%) rotate(0deg);
    
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 17px;
    
}
#btm-right{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 17px;
}
#linkedin{
    height: 20px;
    width: 20px;
    margin-top: 250px;
    margin-left: 800px;
    padding:2px;
    cursor: pointer;

}
#instagram{
    height: 20px;
    width: 20px;
    margin-top: 250px;
    margin-left: 770px;
    padding:2px;
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;

}
#twitter{
    height: 20px;
    width: 20px;
    margin-top: 250px;
    margin-left: 825px;
    padding:2px;
    cursor: pointer;

}
#youtube{
    height: 20px;
    width: 20px;
    margin-top: 250px;
    margin-left: 850px;
    padding:2px;
    cursor: pointer;

}
